@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    bool valueExists = false;
    byte[] auth;

    valueExists = Context.Session.TryGetValue("IsAuthenticated", out auth);

    if (!valueExists)
    {
        Context.Response.Redirect("/Login?redirect=" + Context.Request.Path);
    }
    else
    {
        string test = System.Text.Encoding.Default.GetString(auth);
        if (test != "true")
            Context.Response.Redirect("/Login?redirect=" + Context.Request.Path);
    }
}
@section Scripts{
    
}

<h1>Authenticated</h1>
@RenderBody()



@RenderSection("Scripts", required: false)