@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Welcome to my Debt Calculator site</h1>    
    <p>Checkout the Quick Calculate app to get a run down of how your payments over time.</p>
</div>
